{% extends 'catalog/base.html' %}
{% block content %}
{% load blog_tags %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
           <h1 class="display-4 fw-normal text-body-emphasis">Описание статьи</h1>
    <p class="lead"></p>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-5">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                </div>
                <div class="card-body">
                    <img src="{{ object.image | blog_media }}" class="img-thumbnail">
                    <p>{{ object.content }}</p>
                    <p>Опубликовано {{ object.created_at }}</p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
