{% extends 'catalog/base.html' %}
{% block content %}
{% load blog_tags %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Блог</h1>
</div>

<div class="container">
    <div class="row text-center mb-4">
        <div class="col-4">
            <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_form' %}">Добавить статью</a>
        </div>
    </div>

    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.title }} ({{ object.slug }})</h4>
                </div>
                <div class="card-body">
                    <img src="{{ object.image | blog_media }}" class="img-thumbnail">

                    <p>{{ object.content | truncatechars:100}}</p>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_detail' object.pk %}">Детали</a>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_update' object.pk %}">Обновить</a>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_delete' object.pk %}">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}