{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
        продать</p>
</div>

<div class="container">

    <div class="row text-center mb-4">
        <div class="col-4">
            <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_form' %}">Добавить продукт</a>
        </div>
    </div>

    <div class="row text-center">
        {% for product in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ {{ product.price }}</h1>
                    <img src="{{ product.image | my_media }}" class="img-thumbnail">

                    <p>{{ product.description | truncatechars:100}}</p>

                    {% for version in versions %}
                    {% if  version.product == product %}
                        <h4 class="my-0 font-weight-normal">{{ version.version_name }}</h4>
                        <h1 class="card-title pricing-card-title"> {{ version.number_version }}</h1>
                        <p>{{ version.product }}</p>
                    {% endif %}
                    {% endfor %}

                    <a class="p-2 btn btn-outline-primary"
                       href="{% url 'catalog:product_detail' product.pk %}">Детали</a>
                    <a class="p-2 btn btn-outline-primary"
                       href="{% url 'catalog:product_update' product.pk %}">Обновить</a>
                    <a class="p-2 btn btn-outline-primary"
                       href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}